paper-material {
	z-index: 1200;
}
.field-group-header {
	background-color: #f4f4f4;
}
.field-group-card {
}
.field-group {
	padding: 10px;
}
.card-content {
	padding: 0px;
}
.error {
	background-color: #f2dede
}
.collapse-content {
}
:root {
	--iron-autogrow-textarea: {
		font-size:small !important;
		font-family:courier new, monospace !important;
		line-height:150% !important;
	};
}
