div.day {
    position: absolute; top: 220px; left: 10px; width: 100px; height: 480px; border: 1px solid #AAAAAA; color: #AAAAAA;
    text-align: left;
    font-size: 12px; font-family: "Open Sans", "DejaVu Sans Condensed", "lucida sans", tahoma, verdana, arial, sans-serif;
}

div.label {
    position: absolute; top: 160px; left: 10px; width: 100px; height: 60px; border: 1px solid #AAAAAA; color: #AAAAAA;
    text-align: left;
    font-size: 12px; font-family: "Open Sans", "DejaVu Sans Condensed", "lucida sans", tahoma, verdana, arial, sans-serif;
}

div#mon_label {  left: 10px;    }
div#tue_label {  left: 120px;  }
div#wen_label {  left: 230px;  }
div#thu_label {  left: 340px;  }
div#fri_label {  left: 450px;  }
div#sat_label {  left: 560px;  background: #EEEEEE; opacity: 0.5; color: #404040; }
div#sun_label {  left: 670px;  background: #EEEEEE; opacity: 0.5; color: #404040; }


div#mon {  left: 10px;    }
div#tue {  left: 120px;  }
div#wen {  left: 230px;  }
div#thu {  left: 340px;  }
div#fri {  left: 450px;  }
div#sat {  left: 560px;  background: #EEEEEE; opacity: 0.5; color: #404040; }
div#sun {  left: 670px;  background: #EEEEEE; opacity: 0.5; color: #404040; }

div.hour {
    position: absolute; left: 0px; width: 820px; height: 10px; border-top: 1px solid #CCCCCC; color: #AAAAAA; text-align: right;
    font-size: 10px; font-family: "Open Sans", "DejaVu Sans Condensed", "lucida sans", tahoma, verdana, arial, sans-serif;
}
div#h0  { position: absolute; top: 220px; }
div#h1  { position: absolute; top: 240px; }
div#h2  { position: absolute; top: 260px; }
div#h3  { position: absolute; top: 280px; }
div#h4  { position: absolute; top: 300px; }
div#h5  { position: absolute; top: 320px; }
div#h6  { position: absolute; top: 340px; }
div#h7  { position: absolute; top: 360px; }
div#h8  { position: absolute; top: 380px; }
div#h9  { position: absolute; top: 400px; }
div#h10 { position: absolute; top: 420px; }
div#h11 { position: absolute; top: 440px; }
div#h12 { position: absolute; top: 460px; }
div#h13 { position: absolute; top: 480px; }
div#h14 { position: absolute; top: 500px; }
div#h15 { position: absolute; top: 520px; }
div#h16 { position: absolute; top: 540px; }
div#h17 { position: absolute; top: 560px; }
div#h18 { position: absolute; top: 580px; }
div#h19 { position: absolute; top: 600px; }
div#h20 { position: absolute; top: 620px; }
div#h21 { position: absolute; top: 640px; }
div#h22 { position: absolute; top: 660px; }
div#h23 { position: absolute; top: 680px; }

div.event { position: absolute; background: #00FF00;  border: 1px solid black; opacity: 0.5; font-size: 10px; font-family: "Open Sans", "DejaVu Sans Condensed", "lucida sans", tahoma, verdana, arial, sans-serif; }

div.button { position: absolute; top: 705px; left: 10px; width: 100px; height: 20; border: 1px solid black; background: #AAAAAA; font-size:12px; font-family: "Open Sans", "DejaVu Sans Condensed", "lucida sans", tahoma, verdana, arial, sans-serif; text-align:center; }

